{% extends "base.html" %}

{% block page_content %}
    <section class="jumbotron text-center">
      <div class="container">
        <h1>Welcome!</h1>
        <p class="lead text-muted">My name is Michael Cox, and I'm currently a back-end developer at Charles Schwab.
          I have a lot of experience and interest in various languages and systems. Mostly, I love building things!
        </p>
        <p>
          <a href="mailto:mike.jon.cox@gmail.com" class="btn btn-primary my-2">Email me</a>
        </p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          {% for job in jobs.all %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{{ job.image.url }}" />
              <div class="card-body">
                <p class="card-text">{{ job.summary }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}